@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap');

/*Para declarar variables*/
/* página para escoger gama de colores https://colorhunt.co/*/

:root{
    /* Las variables CSS pueden ser muy útiles para hacer que las actualizaciones de diseño del proyecto sean más prácticas. 
    Las variables son elementos que permiten manipular valores durante la ejecución de tu código ej: --tamano-de-la-fuente:  24px;*/ 

    --color-primario: #740938;  
    --color-secundario: #C30E59;
    --color-terciario: #F2AE66;
    --color-hover : #E82561;
    
    --fuente-monserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif; 
    
    /* reemplazar los px por rem // 1 rem equivale a 16 px y 24 serian 1.5 rem  osea 24 px*/
    --font-size: 1.5rem; /* rem es una unidad relativa, pixel no es relativa es fija por lo que se debe cambiar */ 
}

/*ctrl + D  sobre lo que quiero modificar y seleccionara todo lo que sea igual. 
Esto te permitirá cambiar simultáneamente todos los valores siguientes que sean iguales a lo que seleccionaste con el mouse*/
/* ctrl + F para buscar , es como el ctrl V*/ 

* {  
    margin: 0;
    padding: 0;
}
 /*Esto cambia todos los margener.        
Para resetear los estilos por defecto de los navegadores de forma efectiva, utilizamos las propiedades 
margin, que define el margen en los cuatro lados del elemento (arriba, derecha, abajo, izquierda), y 
padding, que define el relleno interno en los mismos cuatro lados del elemento, ambas con un valor de 0.*/
       
/* el viewport es la porción del área visible de un plano y se utiliza como unidad de medida en CSS 
para crear páginas web 100% responsivas. */

body {
    background-color: var(--color-primario);/* utilizo las variables declaradas al principio para automatizar el programa*/
    color: var(--color-secundario);
    /*height: 100vh; // nuestra pagina ocupe el 100% de altura // la v significa viewport y la h altura height */
    box-sizing: border-box; /*En este caso, la imagen (elemento hijo) "se encojería" y se ajustaría al tamaño 
                            del contenido (elemento padre). Esto ocurre porque el border-box le indica al 
                            navegador que tenga en cuenta cualquier borde y relleno en los valores  
                            especificados para el ancho y el alto de un elemento.*/
}

.header{
    padding: 2% 0% 0% 15% ; /*el 2% equivale al padin top es arriba, 0% deracha, 0% abajo, 15% izquierda para que se alinie con el parrafode abajo*/
}

.header-menu{
    display: flex;
    gap: 5rem; /* para poder ocupar gap debo tener antes el display flex*/
}

.header-menu-link{
    font-family: var(--fuente-monserrat);
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--color-terciario); /* asigno la variable arriba*/
    text-decoration: none;  /* si no pongo esto me aparece sobre mí subrayado al poner none desaparece*/ 
}

/*h1{
    font-weight: bold; font-weight: bold; (Texto en negrita)
}*/


/*.container {   las clases comienzan con .(punto
    text-align: center;  /* centro el texto
}*/

/* guia completa de Flexbox.  https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.presentacion { 
    display: flex; /* Flexbox objetivo organizar los elementos de una página HTML de forma dinámica y 
                      mantener un diseño flexible*/
    align-items: center; /* centra todo  los bloques separados por display flex*/
    padding: 6% 15%;  
    justify-content: space-between;
    gap: 82px;
}

.presentacion-contenido{
    width: 50%;
    display: flex; /* coloca los botones uno al lado del otro */
    flex-direction: column; /* esto lo deja en columnas y no de forma vertical que es por defecto*/
    gap: 40px; /* La propiedad gap no es exclusiva de Flexbox, sin embargo, se utiliza casi siempre en 
                conjunto con él. Esta propiedad especifica en CSS el tamaño de los espacios entre filas 
                y columnas en diseños de cuadrícula*/
}

.presentacion-contenido-titulo {

    font-size: 2.25rem; /* tamaño de la fuente*/
    font-family: var(--fuente-krona);
}

.titulo-destaque{
    color: var(--color-terciario);
    /*border: 1px solid #22D4FD;  /*Borde con 1 px de ancho, de tipo sólido y color del borde azul*/

}

.presentacion-contenido-texto{
    font-size: var(--font-size);
    font-family: var(--fuente-monserrat);
}   

.presentacion-enlaces{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* espacios entre filas y columnas en diseños de cuadrícula*/
}

.presentacion-enlaces-subtitulo{
    font-family: var(--fuente-krona);
    font-size: var(--font-size);
    font-weight: 400;
}

/* El padding es responsable de definir la distancia entre un contenido y sus bordes. para crear un espacio interno entre entre los bordes y el contenido*/
.presentacion-enlaces-link{
    width: 50%; /* ancho a un valor relativo, como 50% */ 
    /*background-color: #22D4FD;  este comando cambia el color de los botones */
    color: var(--color-secundario);
    text-align: center;
    padding: 1.34rem ;
    border-radius: 0.5rem; /*border-radius para añadir la curva al borde del botón // mientras mas px mas redondeado se ve x*/
    font-family: var(--fuente-monserrat);
    font-size: var(--font-size);
    font-weight: 600;
    text-decoration: none; /*sirve para eliminar el subrayado de <a> del hipervínculo  */
    border: 0.125rem solid var(--color-terciario); /* border para añadir el borde alrededor de los botones*/
    display: flex; /* para alinear el icono con el nombre de los contenedores a todo hacia al lado*/
    justify-content: center; /* para centrar el mensaje con el icono dentro del a*/
    gap: 1rem; /* separacion enetre el icono y la palabra*/
}

.presentacion-enlaces-link:hover{ /* selector hover se utiliza para seleccionar elementos cuando pasas el mouse sobre ellos // cambia de color */
    color : var(--color-hover);
    padding: 3%; /*hace un efecto tipo animación en los botones */
    cursor: pointer; /*cursor: pointer; para cambiar el estilo del cursor a una mano con el dedo índice levantado. de la flecha pasa a una mano*/
}

a:hover{
    color: rgb(102, 210, 237);
}

.presentacion-imagen{
    width: 50%;  /* este porcentaje siempre ira en relación al padre */

}

.footer{
    background-color: var(--color-terciario);
    padding: 0.7rem; 
    text-align: center;
}

.footer-informacion{
    color: black;
    font-family: var(--fuente-monserrat);
    font-size: 1rem;
    font-weight: 400;
}   

.presentacion-contenido-texto a{
    text-decoration: none;
    color: var(--color-secundario);
}

/* aqui decimos que cuando llegue al ancho maximo de 1200px la pantalla se modifique y la imagen pase arriba del texto, esto es para
hacer responsiva la página*/

@media (max-width: 1200px){
    .header{
        padding: 10%; /* al poner solo un % se aplicapara el margen para arriba, abajo, derecha e izquierda*/
        }
    
    .header-menu{
        justify-content: center;
    }    

    .presentacion{
        flex-direction: column-reverse; /* olumn-reverse esta propiedad es de abajo hacia arriba columna invertida */
        padding: 5%;
    }

    .presentacion-contenido{
        width:auto ; /* esto comando ajusta el ancho en relación al padre en este caso a .presentacion*/
    }
}
